<mat-toolbar color="primary">
    <span>SCHEDULE A LIVE CLASS</span>
</mat-toolbar>
<form [formGroup]="this.service.ScheduleLiveClassFormData" (submit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="450px">
        <mat-grid-tile>
            <div class="ctrl-container">
                <mat-form-field>
                    <mat-label>Class Title</mat-label>
                    <input formControlName="title" matInput placeholder="Title" >
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Timzone</mat-label>
                    <input formControlName="timezone"  matInput disabled value="GMT+6" >
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Start Time</mat-label>
                    <input formControlName="start_time" matInput placeholder="Example: 09:30AM" >
                </mat-form-field>
                <mat-form-field>
                    <mat-label>End Time</mat-label>
                    <input formControlName="end_time"  matInput placeholder="Example: 10:30AM" >
                </mat-form-field>
                <mat-form-field color="accent" appearance="fill">
                    <mat-label>Date</mat-label>
                    <input formControlName="date" matInput [matDatepicker]="picker2" (dateInput)="addEvent($event.value)">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 color="primary"></mat-datepicker>
                  </mat-form-field>
                <button type="submit" mat-raised-button color="primary" >SCHEDULE</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>