<div class="container">
   
   <div class="nav">
      <mat-toolbar>
         <button mat-icon-button class="icon-burg">
            <mat-icon>menu</mat-icon>
         </button>
         <span>INSIGHT SCHOOL</span>

         <div class="spacer"></div>

         <button mat-icon-button class="icon-face">
            <mat-icon class="profile">face</mat-icon>
         </button>
      </mat-toolbar>
   </div>


   <div class="cards" *ngIf ="this.service.Available == 2">
      
      <mat-card class="card">
         <app-instructor></app-instructor>
      </mat-card>

      <mat-card *ngFor="let i of this.service.courses" class="card">
         <h3>course name : {{i.Coursename}}</h3>
         <p>It's ID is {{i.CourseID}} and The Description is : {{i.Description}}</p> 
      </mat-card>
      
   </div>


   <div class="notifier">
      noti
   </div>
</div>
